<div class="container"
    fxLayout
    fxLayout.xs="row"
    fxLayoutAlign=""
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">
    

    <form  class="example-form">
    <mat-form-field class="example-full-width" appearance="outline">
      <input type="text" placeholder="From " aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
        <input type="text" placeholder="To" aria-label="Number" matInput [formControl]="myControl1" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="picker" placeholder="Deprature">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="picker1" placeholder="Return">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Traveller(s)</mat-label>
            <select matNativeControl [(ngModel)]="selectedFlight" name="flight">
              <option value="" selected></option>
              <option *ngFor="let flight of flights" [value]="flight.value">
                {{flight.viewValue}}
              </option>
            </select>
          </mat-form-field>
          <mat-form-field >
              <mat-label>Class</mat-label>
              <mat-select disableRipple>
                <mat-option value="1">Economy</mat-option>
                <mat-option value="2">Bussiness</mat-option>
                
              </mat-select>
            </mat-form-field>
            <button mat-button>Search</button>
      
  </form>
</div>

 